POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=5432
HR_DB_NAME=
DJANGO_SECRET_KEY=
JWT_SECRET_KEY=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USE_SSL=
EMAIL_USE_TLS=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=
DEBUG=
ALLOWED_HOSTS=
CORS_ALLOWED_ORIGINS=
TIME_ZONE=
HR_ALERT_DAYS=



# config for alembic env.py database_url

POSTGRES_USER=odilon
POSTGRES_PASSWORD=YES
POSTGRES_DB=pointage_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
HR_DB_NAME=
DATABASE_URL=postgresql+psycopg2://odilon:YES@localhost:5432/pointage_db?client_encoding=UTF8
DJANGO_SECRET_KEY=
JWT_SECRET_KEY=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USE_SSL=
EMAIL_USE_TLS=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=
DEBUG=
ALLOWED_HOSTS=
CORS_ALLOWED_ORIGINS=
TIME_ZONE=
HR_ALERT_DAYS=
